<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', "Home" )%>
<body>
    <%- include('partials/nav.ejs', "Home" )%>
    <div class="logoimage">
        <a href="https://imgur.com/nAIeNBb"><img src="https://i.imgur.com/nAIeNBb.png" title="source: imgur.com" class="logo"/></a>
    </div>
    <main class="container">
            <div class="row row-cols-1 row-cols-md-5 g-3">
                <% for(let idx=0; idx < posts.length; idx++){ %>
                    <% const post=posts[idx] %>
                        <div class="card"> 
                        <img src="<%= post.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <a href="/home/<%= post._id %>"><%= post.name %></a>
                          <form method="POST" action="/home/<%=post._id %>?_method=DELETE">            <!-- "/products/0?_method=DELETE" -->
                            <input type="submit" class=" btn-danger" value="Delete Product"/>
                        </form>
                        </div>
                      </div>
                    <% } %>
                </div>
            </div>
    </main>
</body>


</html>