<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', "Home" )%>
<body>
    <%- include('partials/nav.ejs', "Home" )%>
    <h1>Show Page</h1>
    <!-- product object referenced by oneProduct -->
    <h2><%= onePost.name %></h2>
    <small><%= onePost.description %></small>
    <img class="show-image" src="<%=onePost.image%>" alt="<%=onePost.name %>"/>
    <div>
        <a href="/home/<%= onePost._id %>/edit">Edit <%= onePost.name %></a>
    </div>
</body>
</html>