<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Foodapp!</title>
    <%- include('partials/head.ejs', "Home" )%>
    <%- include('partials/nav.ejs', "Home" )%>
</head>
<body>
    <main class="container">
        <div>
            <div>
                <% for(let idx=0; idx < posts.length; idx++){ %>
                    <% const post=posts[idx] %>
                    <div class="card" style="width: 15rem;">
                        <img src="<%= post.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"><%= post.description %></p>
                          <a href="/home/<%= post._id %>"><%= post.name %></a>
                          <form method="POST" action="/home/<%=post._id %>?_method=DELETE">            <!-- "/products/0?_method=DELETE" -->
                            <input type="submit" class=" btn-danger" value="Delete Product"/>
                        </form>
                        </div>
                      </div>
                <% } %>
            </div>
        </div>
      
    </main>
</body>
</html> 